# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDEs & editors
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
